<bento-off-canvas-menu
  class="not-responsive"
  [(isOpen)]="open"
  [(rightIsOpen)]="openRight"
  [menuTitle]="'Demo menu title'"
>
  <div bento-off-canvas-menu-topbar>
    <div class="global-header">
      <!-- Logo -->
      <div class="topbar-left">
        <!-- Logo name or Image -->
        <a href="#" class="topbar-item topbar-logo">
          <h1 class="topbar-parent-app">THOMSON REUTERS</h1>
          <h2 class="topbar-child-app">Training project</h2>
        </a>
      </div>

      <ul class="topbar-middle">
        <li class="topbar-item">
          <a href="#/home" ngbTooltip="Home" placement="bottom">
            <i class="bento-icon-home" aria-hidden="true"></i>
          </a>
        </li>
        <li class="topbar-item" ngbDropdown (openChange)="onDropdownOpen($event)">
          <button ngbTooltip="Tasks" placement="bottom" ngbDropdownToggle>
            <i class="bento-icon-tasks" aria-hidden="true"></i>
            <i class="bento-icon-caret-down" aria-hidden="true"></i>
          </button>
          <div ngbDropdownMenu class="dropdown-menu">
            <button ngbDropdownItem class="dropdown-item">Task 1</button>
            <button ngbDropdownItem class="dropdown-item">Task 2</button>
            <button ngbDropdownItem class="dropdown-item">Task 3</button>
            <button ngbDropdownItem class="dropdown-item">Task 4</button>
          </div>
        </li>
        <li class="topbar-item">
          <a href="#/calendar" ngbTooltip="File room" placement="bottom">
            <i class="bento-icon-file-room" aria-hidden="true"></i>
          </a>
        </li>
        <li class="topbar-item">
          <a href="#/calendar" ngbTooltip="Community" placement="bottom">
            <i class="bento-icon-community" aria-hidden="true"></i>
          </a>
        </li>
      </ul>

      <!-- Other CTAs -->
      <ul class="topbar-right">
        <!-- End of item -->
        <li class="topbar-item" ngbDropdown (openChange)="onDropdownOpen($event)">
          <button ngbTooltip="My account" placement="bottom" ngbDropdownToggle>
            <i class="bento-icon-user" aria-hidden="true"></i>
            <i class="bento-icon-caret-down" aria-hidden="true"></i>
          </button>
          <div ngbDropdownMenu class="dropdown-menu account-menu" role="menu">
            <div class="account-menu-top">
              <div class="account-menu-avatar">
                <img src="http://dummyimage.com/200x200/666/ffffff&text=User+Image" alt="User image" />
              </div>
              <div class="account-menu-desc">
                <h4 class="h2">Kaija Saariaho</h4>
                <div class="account-menu-actions">
                  <a ngbDropdownItem [attr.href]="option.link" *ngFor="let option of accountOptions">
                    {{ option.label }}
                  </a>
                </div>
              </div>
            </div>
            <div class="account-menu-foot">
              <button ngbDropdownItem class="btn btn-primary">Sign out</button>
            </div>
          </div>
        </li>
        <!-- End of item -->
      </ul>
      <!-- End of topbar-right -->
    </div>
  </div>
  <!--End of bento-off-canvas-menu-topbar-->
  <div bento-off-canvas-menu-aside>
    <!-- <ul class="menu" role="menu">
      <li class="active">
        <a href="#" (click)="open = false" role="menuitem">Home (Auto close)</a>
      </li>
      <li>
        <a href="#" role="menuitem">Link 2</a>
      </li>
      <li><a href="#" role="menuitem">Link 3</a></li>
      <li><a href="#" role="menuitem">Link 4</a></li>
      <li ng-disabled="true"><a href="#/link5" role="menuitem">Link 5</a></li>
    </ul>
    <ul class="meta">
      <li>
        <div>More</div>
      </li>
      <li><a href="#" role="menuitem">Link 3</a></li>
      <li><a href="#" role="menuitem">Link 4</a></li>
      <li><a href="#" role="menuitem">Link 5</a></li> -->
    <!-- </ul> -->
  </div>
  <!--End of bento-off-canvas-menu-aside-->
  <div bento-off-canvas-menu-aside-right>Right content here</div>
  <!--End of bento-off-canvas-menu-right-->
  <div bento-off-canvas-menu-content>
    <bento-toolbar #globalSubnav class="global-subnav" [items]="tData"></bento-toolbar>
    <router-outlet></router-outlet>
  </div>
  <!--End of bento-off-canvas-menu-content-->
</bento-off-canvas-menu>
